*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

h3 {
    margin-bottom: 1.4rem;
    font-size: 1.8rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.menu {
    background-color: rgb(25, 146, 212);
    color: #fff;
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    padding-left: 1em;
    padding-top: 1em;

    display: flex;
    flex-direction: column;
    gap: 3.4em;

    & img {
        filter: invert(100%);
        width: 24px;
    }

    & hgroup {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.3rem;

        & img {
            width: 48px;
        }
    }

    & nav {
        display: flex;
        flex-direction: column;
        padding-left: 1em;
        gap: 1.8rem;

        & a {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 700;
            text-decoration: none;
            color: inherit;
            font-family: inherit;
            gap: 1em;
            cursor: pointer;
        }
    }
}

.header {
    background-color: #fff;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    padding: 1em 2.2em;
    font-size: 1.8rem;
    font-weight: 700;

    & search {
        display: flex;
        align-items: center;
        gap: 1.2em;
        margin-bottom: 1.8em;

        & img {
            width: 24px;
        }

        & input {
            flex-basis: 40%;
            padding: 0.5em;
            border-radius: 14px;
            border: none;
            background-color: rgb(226, 232, 240);
        }

        & .notification-img {
            margin-left: auto;
        }

        & .profile-img {
            width: 48px;
            height: 48px;
            border-radius: 100%;
        }
    }

    & .header-summary {
        display: flex;
        gap: 1.2em;
        align-items: center;
        color: #333;

        & img {
            width: 48px;
            border-radius: 100%;
            height: 48px;
        }

        & button {
            padding: 1rem 2rem;
            border-radius: 250px;
            border: none;
            font-size: 1.4rem;
            cursor: pointer;
            color: white;
            background-color: rgb(25, 146, 212);
            font-weight: inherit;
        }

        & button.first {
            margin-left: auto;
        }
    }
}

.main {
    background-color: rgb(226, 232, 240);
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    overflow-y: auto;
    min-height: 0;
    padding: 0 1.2em;
    padding-top: 1.4em;
    padding-bottom: 3.2em;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 3.2rem;
}

.projects {
    grid-column: 1 / 10;
    grid-row: 1 / -1;
    color: #333;

    & .projects__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.8rem;
        grid-auto-rows: minmax(20rem, auto);
    }
}

.project {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    border-left: 8px solid orange;
    gap: 1.2rem;

    & nav {
        margin-top: auto;
        align-self: flex-end;
        display: flex;
        gap: 2.2rem;
    }

    & button {
        width: 2.4rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    & img {
        width: 100%;
    }
}

.announcements {
    grid-column: 10 / -1;

    & h4 {
        margin-bottom: 1.2rem;
    }

    & p {
        color: #444;
    }

    & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: white;
        padding: 1.8rem;
        border-radius: 0.8rem;
    }

    & ul li:not(:last-child) {
        border-bottom: 1px solid #999;
        padding-bottom: 1.6rem;
    }
}

.trending {
    grid-column: 10 / -1;
    color: #333;

    & ul {
        list-style: none;
        background-color: white;
        padding: 1em;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        gap: 2.6rem;
    }

    & li {
        display: flex;
        align-items: center;
        gap: 1.4rem;

        & div {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
        }
    }

    & img {
        width: 48px;
        height: 48px;
        border-radius: 100%;
    }
}
